// START : /BASE/HEAD

head
	title Backdoor v2
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

	link(rel="icon",href="/assets/img/favicon.ico")

	meta(name="viewport", content="initial-scale=1.0, width=device-width")
	link(rel="stylesheet", href="/assets/css/main.css")

// END : /BASE/HEAD