section.developers
  .container
    h2.subtitle
      a(name="developers") Developers Join In
    .developers-content 
      img.developers-illust-left(src="/assets/img/computer_illustration.svg")
      p Backdoor's extension API was designed with the idea of opening the doors to creativity beyond the core. Developers can now create tools not only for themselves, but for the community as well. This allows the user base to leverage the need for newer features.
    .developers-content
      p Rebuilt from the ground up, JavaScript and PHP are the primary languages Backdoor is built on. These are also the languages for creating extensions, with JavaScript being the primary interface. You can read more about creating extensions at 
        a(href="https://backdoor.gitbooks.io/extensions/content/" target="_blank") Gitbooks
      img.developers-illust-right(src="/assets/img/blueprint_illustration.svg")