section.features
  .feature
    h2.subtitle
      a(name="features") Features
  .feature
    .container
      .feature-title
        i.fa.fa-server(aria-hidden="true")
        | Self-Hosted
      .feature-desc
        p Cloud hosted services may not be for everyone. Backdoor gives you the peace of mind knowing your files are on your own self-hosted server. No need to worry about intellectual property possibly being exposed.
  .feature
    .container
      .feature-desc
        p Having all the "bells and whistles" are great for the most part, but this can also be overwhelming. Backdoor UI/UX focused on making sure all the necessary basic functionality was easily &amp; visibly accessible.
      .feature-title
        i.fa.fa-pencil(aria-hidden="true")
        | Simplicity
  .feature
    .container
      .feature-title
        i.fa.fa-puzzle-piece(aria-hidden="true")
        | Extensions
      .feature-desc
        p With version two, having a community support system was vitality important. Backdoor now supports extensions, which allows you, as a developer, to help improve Backdoor.