section.what-is-backdoor
  h2.subtitle
      a(name="about") About Backdoor
  img.languages(src="/assets/img/languages.svg")
  .container
    p BKDR, short for Backdoor, is an in-browser code editor for developers. Backdoor was created with the idea of speeding up and simplifying the development process, by having an editor directly on the development server, it allows you to have the flexibility of coding on any device connected to the internet. Backdoor can quickly be deployed with a simple upload and running the built-in install wizard.