.context-menu {
  background-color: $darkCarbon;
  border: 1px solid $carbon;
  box-shadow: 1px 1px 10px rgba(#000000,0.3);
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: -9999px;
  transition: opacity $menuSpeed;
  z-index: z("context");
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button, a {
    @extend %menu-button;
    border-radius: 0;
	}

  &.show-context {
    opacity: 1;
  }
}