@mixin mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

@mixin tablet-mobile() {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin not-mobile() {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-o-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin aspect-ratio($width, $height) {
  box-sizing: border-box;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > .content {
		overflow: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
		z-index: 1;
  }
}

@mixin animation($params) {
  -webkit-animation: #{$params}; /* Safari 4+ */
  -moz-animation: #{$params}; /* Fx 5+ */
  -o-animation: #{$params}; /* Opera 12+ */
  animation: #{$params}; /* IE 10+, Fx 29+ */
}

@mixin border-radius($params) {
  -webkit-border-radius: #{$params};
  -moz-border-radius: #{$params};
  border-radius: #{$params}; 
}

@mixin flex-display() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction-row() {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

@mixin flex-direction-column() {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

@mixin flex($params) {
  -webkit-flex: $params; /* Safari 6.1+ */
  -ms-flex: $params; /* IE 10 */ 
  flex: $params;
}

@mixin appearance($param) {
  -moz-appearance: $param; /* Firefox */
	-webkit-appearance: $param; /* Safari and Chrome */
	appearance: $param;
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin font-header() {
  font-family: 'Montserrat Subrayada', sans-serif;
}

@mixin font-bold() {
  font-family: 'Raleway', sans-serif;
}

@mixin font-medium() {
  font-family: 'Montserrat', sans-serif;
}

@mixin font-normal() {
  font-family: 'Open Sans', sans-serif;

  strong {
    font-family: 'Montserrat', sans-serif;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}