$primaryColor: #ff004a;
$darkPrimaryColor: #870c2f;
$dark: #161713;
$lightCarbon: #5a5a5a;
$carbon: #4E4F4D;
$darkCarbon: #424242;
$gray: #272822;
$lightergray: #333333;
$subText: #616161;
$text: #B2B3B3;
$textAd: #777777;

$navLabelBg: #222320;
$navLabelText: #4c4c4c;

$font: 'Source Sans Pro', sans-serif;
$regular: 400;
$bold: 600;
$black: 700;

$menuSpeed: 250ms;