doctype html
html
	include ../globals/head

	body

		include ../globals/header
		
		include ../modules/whatisbkdr

		include ../modules/features
		
		include ../modules/developers

		script(src="assets/js/app.js")