// START : /BASE/HEAD

head
	title BKDR | Backdoor Pro Code Editor
	meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	meta(name="viewport", content="initial-scale=1.0, width=device-width")
	link(rel="icon",href="assets/img/favicon.ico")
	link(rel="stylesheet", href="assets/css/main.css")

// END : /BASE/HEAD